.login-bg {
    background: url("../images/map-vector.png");
}
.navbar-default .navbar-brand{
    margin: 0px 14px 0px 14px;
    background: url("../images/shuber.png") no-repeat;
    xpadding-left: 110px;
    padding-top: 0px;
    color: #b4201f;
    font-size: 20px;
    width: 250px;
    height: 90px;
}


.navbar {
    min-height: 90px;
}

.top-slogan {
    font-size: 13px;
    color: #666;
}

@media (min-width: 768px) {
    .sidebar {
        margin-top: 91px;
    }
}



.img-package-size {
    width: 140px;
    cursor:pointer;
    padding: 2px;
}
.img-package-size:hover {
    border: 2px solid #005983;
    padding: 0px;
}

.img-package-size-selected {
    border: 2px solid #2b542c;
    padding: 0px;
}

@media (max-width: 600px) {
    .img-package-size {
        width: 90px;
        cursor:pointer;
        padding: 2px;
    }
}
@media (max-width: 360px) {
    .img-package-size {
        width: 70px;
        cursor:pointer;
        padding: 2px;
    }
}
